:root {
  --primary-brand-color: #E6584B;
  --secondary-brand-color: #FFFCF5;
  --accent-color: #00505A;
  --primary-font-family: 'Montserrat';
  }


* {
    box-sizing: border-box;
  }

  body {
    margin: 0;
    font-family: var(--primary-font-family), sans-serif !important;
    display: flex;
    flex-direction: column;
    height: 100vh;
    background: linear-gradient(rgba(43, 43, 43, 0.7), rgba(102, 102, 102, 0.7)), url("/img/maldives.jpeg");
    background-blend-mode: darken;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    align-items: center;
  }

  .navbar {
    padding-top: 40px !important;

  }

  .navbar-brand {
    font-size: 24px;
    color: var(--secondary-brand-color)!important;
    font-weight: 800;
  }

  .navbar-brand {
    color: var(--secondary-brand-color) !important;
  }

  .logo {
    letter-spacing: 5px;
    transition: all .2s ease-in-out;
  }

  .logo:hover {
    transform: scale(1.5); 
  }

  ul li a {
    font-size: 16px;
    font-weight: 500;
    color: var(--secondary-brand-color) !important;
  }

  ul li a:hover {
    color: var(--primary-brand-color) !important;
  }

  .login-btn {
    background: var(--primary-brand-color) !important;
    color: var(--secondary-brand-color) !important;
    padding: 15px 30px !important;
    margin-left: 10px;
    font-weight: bold !important;
    letter-spacing: 2px;
    border: none !important;
  }

  .login-btn:hover {
    background: var(--secondary-brand-color) !important;
    color: var(--accent-color) !important;
  }



  main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 40px auto;
    padding: 20px;
    border-radius: 20px;
 }

  main {
    flex-grow: 1;
    flex-direction: column;
  }

  .left-side {
    margin-top: 80px;
  }

  h1 {
    color: var(--secondary-brand-color) !important;
    font-size: 60px !important;
    font-weight: 700 !important;
  }

  .icons {
    margin-top: 40px;
  }

  .fab {
    font-size: 24px;
    color: #FFFFFF;
    cursor: pointer;
  }

  .fab:hover {
    color: var(--primary-brand-color);
  }

  .line{
    width: 40px;
    height: 3px;
    background: var(--secondary-brand-color);
    transition:2s;
    -webkit-transition:2s;
    -moz-transition:2s;
    position:absolute;
    right:calc(100% - 80px);
  }

  .line:hover {
    right:0;
  }

  form {
    margin-top: 80px;
  }

  input[type="text"] {
    padding: 15px 35px;
    width: 400px;
    border: none;
  }

  input[type="submit"] {
    background: var(--primary-brand-color);
    color: var(--secondary-brand-color);
    padding: 15px 35px;
    border: none;
    cursor: pointer;
    font-weight: bold;
  }

  textarea:focus, input:focus{
    outline: none;
  }

  .images {
    margin: 340px 0px 0px 0px;
  }

  .images div {
    width: 33%;
    margin: 0px 10px;
    box-shadow: 4px 4px 100px rgba(70, 70, 70, 0.555);
    cursor: pointer;
    color: var(--secondary-brand-color);
    font-weight: bold;
    text-shadow: 2px 2px 2px #000;
  }

  .img1 {
    background-image: url('/img/road.jpeg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 240px;
    width: 100%;
  }

  .img2 {
    background-image: url('/img/miami.jpeg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 240px;
    width: 100%;
  }

  .img3 {
    background-image: url('/img/rhyno.jpeg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 240px;
    width: 100%;
  }

  .hvr-float {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  .hvr-float:hover, .hvr-float:focus, .hvr-float:active {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }

  footer p {
    color: rgba(255, 255, 255, 0.623) !important;
    font-weight: 400;
  }

  